@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background-color: #E3DAA2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  color: #09373A;
}

a {
  color: #09373A;
}

.main-nav {
  background-color: #fff;
}

}@media only screen and (min-width: 60em) {
  .max-length {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    width: 100%;
  }
}

.top-grow{
  transform-origin: top center;
  animation: grow 1.2s ease-in-out forwards;
}

@keyframes grow {
 from {
   transform: translateY(-5em);
}

 to {
   transform: translateY(0);
 }
}

.top-grow-2{
  transform-origin: top center;
  animation: grow 1.2s ease-in-out forwards;
}

@keyframes grow {
 from {
   transform: translateY(-50em);
}

 to {
   transform: translateY(0);
 }
}

.bot-grow{
  transform-origin: center bottom;
  animation: grow-bot 1.5s ease-in-out forwards;
}

@keyframes grow-bot {
 from {
   transform: translateY(5em);
}

 to {
   transform: translateY(0);
 }
}

.side-grow{
  transform-origin: left center;
  animation: side 1.5s ease-in-out forwards;
}

.side-grow-2{
  transform-origin: center right;
  animation: side-2 1.5s ease-in-out forwards;
}

@keyframes side {
 from {
   transform: translateX(-50em);
}

 to {
   transform: translateX(0);
 }
}

@keyframes side-2 {
 from {
   transform: translateX(50em);
}

 to {
   transform: translateX(0);
 }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}

  50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fade-in-2 {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}

  50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.greydout {
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 1;
-webkit-transition: all 1.7s ease-in;
  -moz-transition: all 1.7s ease-in;
  -ms-transition: all 1.7s ease-in;
  -o-transition: all 1.7s ease-in;
  transition: all 1.7s ease-in;
}


.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }
