@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #262626;
}

a {
  color: #262626;
}

a:hover {
  color: #fff;
}

li:hover {
  color: #262626;
}



@media only screen and (min-width: 60em) {
  .max-length {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    width: 100%;
  }
}
