<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Sleepless-Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
  <div class="text-center main-nav push-0 pad-t-1-2 fade-in-2" id="home">
    <div class="i-72 pin-t-c">
      <a href="{{site.baseurl}}/"><img class="icon top-grow" src="../../images/logo-2.svg" alt="sleepless-logo"></img></a>
    </div>
    <nav>
      <ul class="list-group-inline push-0 pad-b-1-8">
        <li><a class="micro btn-ghost island-1-8 greydout not-bold" href="{{site.baseurl}}/">About</a></li>
        <li><p class="micro push-0">|</p></li>
        <li><a class="micro btn-ghost island-1-8 greydout not-bold" href="{{site.baseurl}}/pages/work-page/">Work</a></li>
        <li><p class="micro push-0">|</p></li>
        <li><a class="micro btn-ghost island-1-8 greydout not-bold" href="{{site.baseurl}}/pages/connect/">Connect</a></li>
      </ul>
    </nav>
  </div>

  {{content}}
  <footer class="main-nav relative bot-grow pad-t-1-2 pad-b-1-2">
    <div class="text-center pad-b-1-2">
      <nav>
        <ul class="list-group-inline push-0">
          <li><a class="btn-ghost micro island-1-8 greydout not-bold" href="https://www.instagram.com/sleepless______/">Instagram</a></li>
          <li><p class="micro push-0">|</p></li>
          <li><a class="btn-ghost micro island-1-8 greydout not-bold" href="https://vimeo.com/user56936355">Vimeo</a></li>
          <li><p class="micro push-0">|</p></li>
          <li><a class="btn-ghost micro island-1-8 greydout not-bold" href="mailto:mailto:sleepless.graphics@gmail.com">Email</a></li>
        </ul>
      </nav>
    </div>
    <p class="push-0 micro not-bold text-center">© Raphael Astrologo Hipolito 2018</p>
  </footer>
</body>
</html>
