<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Sleepless-Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <div class="grid main-nav push-0 top-grow" id="home">
    <div class="unit">
      <a href="{{site.baseurl}}/"><h1 class="giga italic link-home island-1-4 push-0">sleepless</h1></a>
    </div>
    <div class="unit absolute pin-tr fixed">
      <nav>
        <ul class="list-group-inline push-0">
          <li><a class="milli btn-ghost island-1-2 greydout not-bold" href="{{site.baseurl}}/pages/work-page/">Work</a></li>
          <li><a class="milli btn-ghost island-1-2 greydout not-bold" href="mailto:refkoer@gmail.com">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  {{content}}
  <footer class="contact main-nav relative bot-grow" id="contact">
    <div class="text-center">
      <nav>
        <ul class="list-group-inline push-0">
          <li><a class="btn-ghost milli island-1-2 greydout not-bold" href="https://www.instagram.com/indesigndocument/">Instagram</a></li>
          <li><a class="btn-ghost milli island-1-2 greydout not-bold" href="https://vimeo.com/user56936355">Vimeo</a></li>
          <li><a class="btn-ghost milli island-1-2 greydout not-bold" href="mailto:refkoer@gmail.com">Email</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
