<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Sleepless-Portfolio</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="grid main-nav push-0" id="home">
    <div class="unit">
      <a href="#home"><h1 class="giga italic link-home island-1-2 push-0">sleepless</h1></a>
    </div>
    <div class="unit absolute pin-tr fixed">
      <nav>
        <ul class="list-group-inline push-0">
          <li><a class="milli btn-ghost island-1-2" href="#about">About</a></li>
          <li><a class="milli btn-ghost island-1-2" href="work-page.html">Work</a></li>
          <li><a class="milli btn-ghost island-1-2" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  {{content}}
  <footer class="contact main-nav relative" id="contact">
    <div class="text-center">
      <nav>
        <ul class="list-group-inline push-0">
          <li><a class="btn-ghost milli island-1-2" href="https://www.instagram.com/indesigndocument/">Instagram</a></li>
          <li><a class="btn-ghost milli island-1-2" href="https://vimeo.com/user56936355">Vimeo</a></li>
          <li><a class="btn-ghost milli island-1-2" href="mailto:refkoer@gmail.com">Email</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
